body{
    background-image: url(images/greenbg.jpg);
}
.glasseft{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
.btn{
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    width: 8rem;
    transition: all 0.3s ease;
}
.btn:hover{
    width: 8.3rem;
    box-shadow: -4px -4px 6px rgba(255,255,255,0.2),4px 4px 6px rgba(0,0,0,0.2);
}

.btn-primary{
    background-color: rgba(50, 222, 132,0.6);
}

.btn-danger:hover{
    background-color: white;
    color: black;
}